<body>
    <table>
        <tr>
            <td><img style="height: 50px; width 50px;" src="images/leftPlant.png"></td>
            <td><h2>Minh's Garden</h2></td>
            <td><img style="height: 50px; width 50px;" src="images/rightPlant.png"></td>
        </tr>
    </table>

    {{!-- {{>navbar}} --}}
    {{{body}}}

    <!-- Copyright -->
    <h3>Copyright <em>Kelly Lam</em></h3>
</body>