<h3>Current Plants</h3>
<table border="1">
    {{#each plants}}
    <tr>
        <td>{{name}}</td>
        <td>{{id}}</td>
    </tr>
    {{/each}}
</table>

<br/>

<form action="http://localhost:3000/plantDetails" method="get">
    ID to get information about <input type="text" name="id" value="{{previous.id}}"/>

    {{#if errors.idDoesNotExist}}<i>That is not a valid ID!</i>{{/if}}

    <br/>
    <input type="submit" value="Get Details"/>
</form>