<h3>Current Plants</h3>
<table border="1">
    {{#each plants}}
    <tr>
        <td>{{name}}</td>
        <td>
            <form action="plantDetails">
                <input type="submit" value="View Details"/>
                <input type="hidden" name="id" value="{{id}}"/>
            </form>
        </td>
    </tr>
    {{/each}}
</table>