<h3>Current Plants</h3>
<table border="1">
    {{#each plants}}
    <tr>
        <td>{{name}}</td>
        <td>{{id}}</td>
    </tr>
    {{/each}}
</table>

<br/>

<form action="http://localhost:3000/plantDetails" method="get">
    ID to get information about <input type="text" name="id"/>

    {{#if errors.idDoesNotExist}}<i>Please enter a valid ID from above</i>{{/if}}

    <br/>
    <input type="submit" value="Get Details"/>
</form>